In [2]:
counter=1
while counter<=10:
    print(counter)
    counter=counter+1

1
2
3
4
5
6
7
8
9
10

In [3]:
### sum of numbers till some point
n=int(input("enter the limit of numbers"))
total=0
counter=1
while counter<=n:
    total=total+counter
    counter=counter+1
total

enter the limit of numbers 10

55

In [4]:
#### factorial of numbers
n=int(input("enter the limit of numbers"))
factorial=1
counter=1
while counter<=n:
    factorial=factorial*counter
    counter=counter+1
factorial

enter the limit of numbers 10

3628800

In [5]:
#### OR
number=int(input("enter the limit of numbers"))
factorial=1
while number>0:
    factorial=factorial*number
    number=number-1
factorial

enter the limit of numbers 10

3628800

In [6]:
## fibonacci series

In [6]:
number=int(input("enter the limit of numbers"))
counter=0
n1=0 
n2=1
while counter<number:
    print(n1)
    n3=n2+n1
    n1=n2
    n2=n3
    counter=counter+1

enter the limit of numbers 10

0
1
1
2
3
5
8
13
21
34

In [6]:
### using for loop
number=int(input("enter the limit of numbers"))
n1,n2= 0,1
for i in range(number):
    print(n1)
    n3=n1+n2
    n1=n2
    n2=n3

enter the limit of numbers 10

0
1
1
2
3
5
8
13
21
34

In [7]:
## reversing
s="bharath"

In [8]:
s[::-1]

'htarahb'

In [20]:
s.

AttributeError: 'str' object has no attribute 'reverse'

In [13]:
##for loop
s1=""
n=len(s)
for i in s:
    s1=s1+s[n-1]
    n=n-1
s1

'htarahb'

In [15]:
### while loop
s1=""
counter=0
n=len(s)
while counter<n:
    s1=s1+s[n-1]
    n=n-1
s1

'htarahb'

In [6]:
### while loop reversing
word=input("enter your word for reversal")
counter=0
s1=""
n=len(word)
while counter<n:
    s1=s1+word[n-1]
    n=n-1
s1

enter your word for reversal bharath

'htarahb'

In [16]:
### tables of number till 10 using while loop
number=int(input("enter the number for tables"))
counter=1
while counter<=10:
    total=number*counter
    print("{}x{}={}".format(number, counter, total))
    counter=counter+1

enter the number for tables 5

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

In [17]:
### tables of numbers till 10 using for loop
number=int(input("enter the number for tables"))
counter=1
for i in range(1,11):
    total=number*counter
    print("{}x{}={}".format(number, counter, total))
    counter=counter+1

enter the number for tables 5

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

In [19]:
### tables of numbers till 10 using for loop
number=int(input("enter the number for tables"))
for i in range(1,11):
    total=number*i
    print("{}x{}={}".format(number, i, total))

enter the number for tables 5

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

In [21]:
### while-else 
n=5
counter=1
while counter<=n:
    print(counter)
    counter=counter+1
else : print("done")

1
2
3
4
5
done

In [24]:
### while-else 
n=5
counter=1
while counter<=n:
    print(counter)
    if counter==3:
        break
    counter=counter+1
else : print("done")

1
2
3