In [ ]:
"""Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function."""

In [3]:
t=[(4,1),(6,5,64),(5,5,7446),(5.5,0)]

In [4]:
type(t)

list

In [5]:
t1=lambda t : t.sort()

In [6]:
t1(t)

In [7]:
t

[(4, 1), (5, 5, 7446), (5.5, 0), (6, 5, 64)]

In [42]:
t2=lambda t : t.sort()

In [34]:
t3=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [44]:
t2(t3)

In [45]:
t3

[('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357),
 ('Virat Kohli', 24936)]

In [53]:
l=[("a",3),("b",2),("c",1)]

In [58]:
l.sort(key= lambda x : x[1])

In [57]:
l

[('a', 3), ('b', 2), ('c', 1)]

In [65]:
t3

[('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357),
 ('Virat Kohli', 24936)]

In [66]:
t3.sort(key=lambda x : x[1])

In [73]:
t3

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [74]:
"""Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"""

'Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using\nlambda and map functions.\n[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]'

In [80]:
m=list(range(1,11))

In [84]:
m1=list(map(lambda x : x**2 , m))

In [85]:
m1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [86]:
"""Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"""

'Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and\nlambda functions\nGiven String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]'

In [87]:
m

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [91]:
m2=list(map(lambda x : str(x) , m))

In [92]:
m2

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [93]:
"""Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25."""

'Q4. Write a python program using reduce function to compute the product of a list containing numbers\nfrom 1 to 25.'

In [95]:
m3=list(range(1,26))

In [101]:
from functools import reduce

In [102]:
reduce(lambda x,y : x*y, m3)

15511210043330985984000000

In [ ]:
"""Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]"""

In [103]:
m4=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [105]:
list(filter(lambda x : x%2==0 and x%3==0 , m4))

[6, 60, 90, 120]

In [106]:
"""Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']"""

"Q6. Write a python program to find palindromes in the given list of strings using lambda and filter\nfunction.\n['python', 'php', 'aba', 'radar', 'level']"

In [107]:
m5=['python', 'php', 'aba', 'radar', 'level']

In [109]:
list(filter(lambda x : x==x[::-1] , m5))

['php', 'aba', 'radar', 'level']