In [1]:
## https://drive.google.com/file/d/1hyD9pv5dlwP2dnIkvfvyw2CHSECrJw2x/view

In [2]:
n=int(input("enter the percentage"))

if n >90: 
    print ("Grade A")
elif n>80 and n<=90:
    print ("Grade B")
elif n>=60 and n<=80:
    print("Grade C")
elif n<60 and n>0:
    print("Grade D")

enter the percentage 85

Grade B

In [7]:
n = int(input("enter the cost price of the bike"))

if n > 100000 :
    print (f"Tax is {15*n/100}")
elif n >50000 and n<=100000:
    print(f"Tax is {10*n/100}")
elif n<=50000 and n>0:
    print(f"Tax is {5*n/100}")

enter the cost price of the bike 200000

Tax is 30000.0

In [10]:
n = input("Enter the name of the city")

if n.lower()== "delhi" :
    print("Monument is Red Fort")
elif n.lower()=="agra":
    print("Monument is Taj Mahal")
elif n.lower()=="jaipur":
    print("Monument is Jal Mahal")

Enter the name of the city Delhi

Monument is Red Fort

In [9]:
n = int(input("enter the number"))
t=0
while True :
    if n/3<=10:
        break
    n=n/3
    t=t+1
print(f"The given number is divisible by '3' {t} times")

enter the number 111

The given number is divisible by '3' 2 times

In [7]:
r = int(input("enter the number of rows"))
c= int(input("enter the number of columns"))
counter1=1
counter2=1
while counter1<=r:
    while counter2<=c:
        print("*" , end = " ")
        counter2+=1
    counter2=1
    counter1+=1
    print()

enter the number of rows 5
enter the number of columns 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [2]:
r = int(input("enter the number of rows"))
c= int(input("enter the number of columns"))
counter1=1
counter2=1
n=1
while counter1<=r:
    while counter2<=c-1:
        print(end = " ")
        counter2+=1
    counter2=1
    while counter2<=n:
        print("*", end = "")
        counter2+=1
    c=c-1
    counter2=1
    n=n+1
    counter1+=1
    print()

enter the number of rows 5
enter the number of columns 5

    *
   **
  ***
 ****
*****

In [5]:
r = int(input("enter the number of rows"))
c= int(input("enter the number of columns"))
counter1=1
counter2=1
n=1
while counter1<=r:
    while counter2<=2*(c-1):
        print(end = " ")
        counter2+=1
    counter2=1
    while counter2<=n:
        print("*", end = " ")
        counter2+=1
    c=c-1
    counter2=1
    n=n+1
    counter1+=1
    print()

enter the number of rows 5
enter the number of columns 5

        *
      * *
    * * *
  * * * *
* * * * *

In [6]:
r = int(input("enter the number of rows"))
c= int(input("enter the number of columns"))
counter1=1
counter2=1
n=1
while counter1<=r:
    while counter2<=c-1:
        print(end = " ")
        counter2+=1
    counter2=1
    while counter2<=n:
        print("*", end = " ")
        counter2+=1
    c=c-1
    counter2=1
    n=n+1
    counter1+=1
    print()

enter the number of rows 5
enter the number of columns 5

    *
   * *
  * * *
 * * * *
* * * * *

In [3]:
n = 10
while n<=10:
    print(n)
    if n == 1:
        break
    n-=1

10
9
8
7
6
5
4
3
2
1